@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	src: url(./fonts/Lexend-VariableFont_wght.ttf) format("truetype");
	font-family: "Lexend", serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	font-display: swap
}

/* width */
::-webkit-scrollbar {
		width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
		background: rgba(0,0,0,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
		background: #666;
		border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
		background: #f97316;
}

body {
	font-family: Lexend, sans-serif;
	margin: 0;
	user-select: none;
}

button {
	border: none;
	border-radius: .5rem;
	cursor: pointer;
	font-family: Lexend, sans-serif;
	font-weight: 600;
	padding: 10px 15px;
	text-align: center;
	transition: all 0.2s;
}

button:active,
button:focus,
button:focus-visible,
button:hover,
button:target {
	border: none;
	outline: none;
}

.spacedButton {
	letter-spacing: .333em;
	font-weight: 400;
	font-size: .8rem;
}

.activateButton {
	letter-spacing: .333em;
	font-weight: 600;
	font-size: 1rem;
}

.prose {
	@apply text-gray-600;
}

.prose strong {
	@apply text-white;
}

.prose em {
}

.prose a {
	cursor: pointer;
	@apply text-amber-500 hover:text-amber-300 no-underline;
}

.prose blockquote {
	@apply border-l-4 border-amber-600 bg-gray-800 px-4 py-2 my-4;
}

.prose code {
	@apply bg-gray-800 px-1 py-0.5 rounded text-amber-400;
}

.navbar {
	background: #f6f4ee;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	left: 0;
	padding: 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.distancedTop { margin-top: 95px }

.adjustedHeight { min-height: calc(100vh - 95px) }

.creamyBg {
	background: #f6f4ee
}

.creamyBgLighter { background: #fbfbf8 }

.shadowButton {
	box-shadow:	5px 5px 14px #9fa3a8,
							 -5px -5px 14px #fdffff;
}

.promontory {
	background: #fbfbf8;
	box-shadow:	5px 5px 14px #b9b9b3,
							 -5px -5px 14px #ffffff;
}

.promontory.slate {
	background: #343a40;
	box-shadow:	5px 5px 14px #9fa3a8,
							 -5px -5px 14px #fdffff;
}

.convex:hover,
.concave {
	background: linear-gradient(145deg, #ddddd7, #ffffff);
	box-shadow:	5px 5px 14px #b9b9b3,
							 -5px -5px 14px #ffffff;
}

.convex.rowdy:hover,
.concave.rowdy {
	background: linear-gradient(145deg, #ea580c, #f97316);
	box-shadow:	5px 5px 14px #b9b9b3,
							 -5px -5px 14px #ffffff;
}

.convex {
	background: linear-gradient(145deg, #ffffff, #ddddd7);
	box-shadow:	5px 5px 14px #b9b9b3,
							 -5px -5px 14px #ffffff;
}

.convex.rowdy,
.convex.hover\:rowdy:hover {
	background: linear-gradient(145deg, #f97316, #ea580c);
	box-shadow:	5px 5px 14px #b9b9b3,
							 -5px -5px 14px #ffffff;
}

.convex.lake,
.convex.hover\:lake:hover {
	background: linear-gradient(145deg, #38bdf8, #0ea5e9);
	box-shadow:	5px 5px 14px #b9b9b3,
							 -5px -5px 14px #ffffff;
}

.convex.slate,
.convex.hover\:slate:hover {
	background: linear-gradient(145deg, #495057, #343a40);
	box-shadow:	5px 5px 14px #b9b9b3,
							 -5px -5px 14px #ffffff;
}

.convex.rose,
.convex.hover\:rose:hover {
	background: linear-gradient(145deg, #fb7185, #f43f5e);
	box-shadow:	5px 5px 14px #b9b9b3,
							 -5px -5px 14px #ffffff;
}

.depressed {
	background: #fbfbf8;
	box-shadow: inset 3px 3px 8px #b9b9b3,
							inset -3px -3px 8px #ffffff;
}

.energyDisc {
	max-width: 7rem;
}

.energyDisc > div {
    pointer-events: none;
}

.introBG {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.intro > button {
	background: #222222c0;
	border: 1px solid #fff;
	left: 60px;
	color: #fff;
	padding: 10px 20px;
	font-size: 1.5rem;
	letter-spacing: .3rem;
	position: absolute;
	text-align: -webkit-auto;
	width: 330px;
	z-index: 99;
}

.intro > button.load {
	top: 126px;
}

.intro > button.settings {
	top: 196px;
}

.intro > button.new {
	top: 56px;
}

.intro > button:hover {
	background-color: #fff;
	color: #000;
}

.textpanel {
	position: relative;
}

.textpanel .relative.max-w-2xl.w-full {
	display: flex;
	flex-direction: column;
}

.story .w-2\/3 > div {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 12px 5px 10px 12px;
	overflow: hidden;
}

.story .w-2\/3 > div img {
	max-width: fit-content;
}

.story .w-1\/3:before {
	background: #fbfbf8;
	border-radius: .5rem;
	box-shadow:	5px 5px 14px #b9b9b3,
							 -5px -5px 14px #ffffff;
	content: "";
	display: block;
	position: absolute;
	top: 12px; /* Adjust distance from the top */
	left: 12px; /* Adjust distance from the left */
	right: 12px; /* Adjust distance from the right */
	bottom: 12px; /* Adjust distance from the bottom */
	pointer-events: none; /* Make sure it doesn't interfere with clicks */
	z-index: -1;
}

.story .w-1\/3:before { left: 5px; /* Adjust distance from the left */ }
.story .w-2\/3:before { right: 5px; /* Adjust distance from the left */ }

.galleryImg {
	width: 100%;
}

.imageTitle {
	font-size: 6rem;
	font-weight: 800;
	position: absolute;
	bottom: 0;
	right: 2rem;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}


.characterPanel {
	margin: 0 auto;
	position: relative;
}

.characterPanel > img {
	display: block;
	height: 600px;
	position: relative;
	filter:
		drop-shadow(8px 8px 8px rgba(0,0,0,0.5));
	z-index: 99;
}

.characterPanel > span {
	font-size: 6rem;
	font-weight: 800;
	position: absolute;
	bottom: 30%;
	left: 50%;
	transform: rotate(270deg);
}

.characterText {
	color: #343a40;
	text-transform: uppercase;
}

.goalCard h3 {
	border-bottom: 1px solid #bbb;
}

.options {
	list-style-type: none;
	padding: 0 40px;
}

.option {
	@apply text-gray-600;
	font-weight: 600;
	letter-spacing: .02em;
	padding: .5rem 0;
	position: relative;
	transition: color .2s;
}

.option:hover {
	color: #f97316;
	cursor: pointer;
}

.option:before {
	transition: color .2s;
	content: "»";
	position: absolute;
	transform: translateY(-50%);
	top: 45%;
	color: #888;
	left: -30px;
}

.option:hover:before {
	color: #f97316;
}

button.energyButton {
	padding: .333333rem;
	max-width: 33%;
}

.foregroundImg {
	filter:
		drop-shadow(-6px	-6px 5px rgba(0,0,0,.5))
		drop-shadow(6px	6px 5px rgba(0,0,0,.4))
		drop-shadow(-6px	6px 5px rgba(0,0,0,.2))
		drop-shadow(6px	-6px 5px rgba(0,0,0,.2))
		brightness(82%);
	bottom: 50%;
	right: 50%;
}

@keyframes pulse {
	0%, 100% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: .5;
		transform: scale(1.5);
	}
}

@keyframes float {
	0% {
		transform: translate(0, 0);
		opacity: 1;
	}
	100% {
		transform: translate(var(--dx), var(--dy));
		opacity: 0;
	}
}

@keyframes blink {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

.ball {
	border-radius: 50%;
	position: absolute;
	pointer-events: none;
}